.payment-details {
  padding: 1rem 7rem;
}

.forms {
  display: flex;
  justify-content: space-between;
}

.payment-details-forms {
  width: 500px;
}
.payment-details-forms label {
  font-size: 24px;
  font-weight: 500;
  color: white;
}
.payment-details-forms input {
  margin: 1rem 0 1rem;
}

.btn-next {
  background: #5494ff;
  border-radius: 1rem;
  color: white;
  border: 1px solid #5494ff;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin-top: 2rem;
  width: 100%;
  height: 50px;
}

#payment-method {
  border-radius: 0.5rem;
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  padding: 5px;
}
